{% extends "base.html" %}

{% block title %}
    About
{% endblock %}
{% load static %}

{% block content %}
     <!-- about banner -->
     <div class="custom_banner about page_section_big_padding">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="title">
                    Our platform
                    <svg class="icon_container">
                        <!-- <use xlink:href="#about_icon"></use> -->
                    </svg>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- about banner -->
    <!--  -->
    <section class="motivation page_section_medium_padding" id="motivation">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    
Motivation and purpose
                </div>
                <div class="content bg_white">
                    <div class="col image_faq"></div>
                    <div class="col text">
                        <p>194 countries are home to an estimated <strong> 232,866 ophthalmologists</strong>. There are 7.951 billion people on the planet. It is estimated that there is <strong> one doctor for every 34,272 individual</strong>.
                       <br> <br> This platform for <strong>diabetic retinopathy detection using deep learning</strong> is based on the provision of eye images which was carried out by three (03) students in Bachelor of Science (Software Engineering) as part of of their final Year project
                    </p>
                        </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
    <!--  -->
<!-- supervisor section-->
<!--student section-->
<section class="makers page_section_medium_padding" id="concepteurs">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Designers, Contributors
                </div>
            <div class="makers_people">
                    <div class="content">
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                Dr Shahzad Akbar
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
                <div class="makers_people">
                    <div class="content">
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                Moeez Bin Nadeem
                            </div>
                        </div>
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                Shayan Ahmed Shahid 
                            </div>
                        </div>
                        
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                Ahtesham Ali
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
{% endblock %}
